@use "../../styles/partials/mixins.scss" as *;

.SignUpDogPage {
  background-image: url("../../assets/signup-background.jpg");
  height: 100vh;
  &__form {
    @include mobile-side-padding;
  }
  &__birthday-label {
    width: 40%;
  }
  &__birthday-input {
    width: 100%;
  }
}
