@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.PoolMePage {
  @include mobile-side-padding;
  height: 100vh;
  background-image: url("../../assets/background-poolme.jpg");
  padding-top: 1rem;

  &__photo {
    width: 7rem;
    border-radius: 1rem;
  }
  &__photo {
    font-family: "Avenir";
    font-weight: 700;
  }

  &__dog-info {
    padding-left: 1rem;
    font-family: "Avenir";
  }
  &__contact-info {
    font-family: "Avenir";
    font-size: 0.75rem;
  }

  &__contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__chat-button {
    @include button-defaults;
    margin-bottom: 0.5rem;
    color: white;
    background-color: #0095f6;
    height: 1.5rem;
    font-size: 0.75rem;
    width: fit-content;
    padding: 0.25rem 0.5rem;
  }
  &__dog-container {
    display: flex;
    align-items: center;
  }
}

p {
  margin-bottom: 0;
}
