.header {
  position: relative;
  background-color: #189ab4;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;

  &__title {
    text-align: center;
  }

  &__toggle {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.875rem;
    height: 20px;
  }

  &__bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border: 10px;
  }
}
