@use "../../styles/partials/mixins.scss" as *;

.login {
  @include mobile-side-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;

  &__logo {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__username {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__password {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  &__login-button {
    @include button-defaults;
    margin-bottom: 0.5rem;
    color: white;
    background-color: #0095f6;
    height: 1.5rem;
    font-size: 1rem;
  }

  &__signup {
    color: #0095f6;
    text-align: center;
  }
}
